
{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div >
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{textarea rows="1" class="form-control" value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="solution">Solution</label>
        {{textarea rows="8" class="form-control" value=solution id="solution"}}
      </div>

      <button {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="pull-right affix" data-offset-top="0" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
