<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>{{model.question}}</h2>
      {{post-details post=model destroyPost= "destroyPost"}}<br><br>
    </div>
    <div class="col-md-3">

      <div class="pull-right">{{update-post post=model update="update"}}</div>
    </div>

  </div>

<h3>Answers</h3>


<div class="answers row">


  <div class="col-md-9 answer">
    <ul class="">
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer}}
      {{/each}}
    </ul>
  </div>


  <div class="col-md-3 pull-right" >
    {{new-answer saveAnswer="saveAnswer" post=model}}
  </div>
</div>



</div>
